div.message {
    margin: 0 1rem;
    width: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: black;
}

div.message::after {
    content: '';
    width: 100%;
}

div.message.user {
    color: white;
    flex-direction: row-reverse;
}

div.message>p, div.message>img {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    margin: 0;
    background: white;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

div.message>p {
    order: 1;
    margin-top: .5rem;
}

div.message>p.help {
    margin-top: 0;
}

div.message.user>p {
    background: #93d2d2;
    box-shadow: 3px 3px 0px rgb(202 202 202 / 70%);
}

div.header {
    background: #93d2d2;
    color: white;
    margin: 0;
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: start;
    padding: 0.75rem;
}

div.header>img {
    margin: 0 1rem 0 2rem;
}

div.header>h1 {
    font-size: 1.75rem;
    margin: 0;
}

div.chatbot {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .25);
    border-radius: 10px;
}

div.chatbot__inner {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: 450px;
    min-height: 350px;
    height: 100%;
    padding: 2rem 2rem 0 2rem;
    background: #ececec;
}

button.chat__submit {
    margin-left: auto;
    border: none;
    outline: none;
    cursor: pointer;
    background: #fff;
}

input.chat__input {
    border: none;
    outline: none;
    padding: 1.5rem 0;
    color: black;
    font-size: 1rem;
    min-width: 90%;
}

div.chatbot>form {
    padding: 0 1.5rem;
    background: white;
    display: flex;
}

input.email__input {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 3px 0px 0 3px;
    border: 1px solid gray;
}

button.email__button {
    padding: 0.5rem 1rem;
    border-radius: 0 3px 3px 0;
    border: 1px solid #117b99;
    background: #117b99;
    color: white;
}

div.message>p.option {
    background: none;
    box-shadow: none;
    border-radius: 5px;
    border: solid #93d2d2 2px;
    font-weight: bold;
    color: #1d3f5d;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

div.message__wrapper::before,
div.message_wrapper.user::before {
    content: 'Dorés';
    font-weight: bold;
    font-size: 1rem;
    color: gray;
    display: block;
    margin: 0.5rem 0; 
}

div.message_wrapper.user::before {
    content: 'Jij';
    text-align: right;
}

small {
    text-align: center;
    color: gray;
    margin: 1.25rem 0;
}